*{
  box-sizing: border-box;
}
body{
  background-color: rgba(72,163,0,0.07);
}
h1{
  font-size: 4rem;
  color:#48A300;
  text-align: center;
}
h1 span{
  color:#61481C;
}
.app-container{
  background-color: #FBFBFB;
  max-width: 660px;
  margin-inline: auto;/*means margin left and right*/
  border-radius: 15px;
  padding: 14px 38px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.103);
}
h2 img{
  vertical-align: middle;
  margin-left: 10px;
}
h2{
  margin-top: 0;
  margin-bottom: 2rem;
}
.progress-label{
  font-size: 14px;
  opacity: 50%;
  margin-bottom: 22px;
}
.progress-bar{
  height: 30px;
  background-color: rgba(72, 163, 0, 0.1);
  border-radius: 15px;
}
.progress-value{
  height: 100%;

  background-color: #48A300;
  border-radius: 15px;
  font-size: 10px;
  color:#EEFFE0;
 display: flex;
 align-items: center;
 width: 0;

}
.progress-value span{
  padding-left: 16px;
}
.error{
  font-size: 14px;
  color:rgba(255, 0, 0, 0.414);
  margin-block: 20px;
  visibility: hidden;
}
.error1{
  visibility: visible;
  font-size: 14px;
  color:rgba(255, 0, 0, 0.414);
}
.goal-container{
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 17px;
  height: 82px;
  display: flex;
  align-items: center;
  
  padding: 0 16px;
  background-color: white;
  margin-bottom: 25px;
}
.custom-checkbox{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid rgba(97,72,28,0.3);
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.check-icon{
  display: none;
}

.goal-input{
  margin-left: 8px;
  border: none;
  outline: none;
  flex-grow: 1;
  align-self: stretch;
  font-weight: 700;
}
.goal-input::placeholder{
  opacity: 70%;
}
.quote{
  font-weight: 700;
  text-align: center;
}
.made-by{
  font-size: 10px;
  opacity: 70%;
  text-align: center;
}
.completed .custom-checkbox .check-icon{
display: block;
border-color: #48A300;
}
.completed .goal-input{
  color: #48A300;
  text-decoration:line-through;
}
@media (max-width:768px){
  .title{
    font-size: 32px;
  }
}